<%= form_for(@incident_category) do |f| %>
  <% if @incident_category.errors.any? %>
    <div class="alert alert-danger">
      <h4>Error:</h4>
      <ul>
      <% @incident_category.errors.each do |field, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="form-group col-lg-6">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  </div>
  <div class="row">
  <div class="form-group col-lg-6">
    <%= f.submit 'Save category', :class => 'btn btn-primary' %>
  </div>
  </div>
<% end %>
