<h1>Issue Categories</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_categories.each do |incident_category| %>
      <tr>
        <td><%= link_to incident_category.name, incident_category %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_incident_category_path(incident_category) %></td>
        <td><%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, incident_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div >
<h4>
  <%= link_to 'Add new issue category', new_incident_category_path %>
</h4>

</div>
