<p id="notice"><%= notice %></p>

<h3>
  <strong>Issue Category</strong>
  <%= @incident_category.name %>
</h3>
<div class="list-group">
<div  class="list-group-item active">
<strong>Issues in this Category</strong>
</div>

	<%= render @incident_category.incidents %>

</div>


<%= link_to 'Editar tipo de incidente', edit_incident_category_path(@incident_category) %>
