<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/incidents">IssuesApp</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if params[:controller] == 'incidents' %>"><%= link_to "Dashboard", incidents_path %></li>
      <li class="<%= 'active' if params[:controller] == 'responsibles' %>"><%= link_to "Manage Responsibles", responsibles_path %></li>
      <li class="<%= 'active' if params[:controller] == 'incident_categories' %>"><%= link_to "Manage Issue Categories", incident_categories_path %></li>

    </ul>


  </div>
  </div>
</div>
