<br>
<br>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Dashboard Options</h3>
  </div>
  <div class="panel-body">
  	<%= link_to '<i class="fa fa-plus"></i> Add Issue'.html_safe, new_incident_path, :class => "list-group-item"  %>
    <%= link_to '<i class="fa fa-search"></i> Advanced Search'.html_safe, new_search_path, :class => "list-group-item" %>
  <a href="#view_graphic" class="list-group-item"><i class="fa fa-bar-chart"></i> Show chart
  </a>
  <br>
<br>
<br>
<br>
  </div>
</div>
