
<%= form_for(@incident) do |f| %>
  <% if @incident.errors.any? %>
    <div class="alert alert-danger">
      <h4>Error:</h4>
      <ul>
      <% @incident.errors.each do |field, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="form-group col-lg-6">
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Choose the issue category" %><br>

        <%= f.collection_select :incident_category_id, IncidentCategory.order(:name),:id,:name, {include_blank: "None selected"}, {:class => 'form-control'} %>

      </div>
       <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="row">
       <div class="field col-lg-2">
        <%= f.label :priority, 'Priority (1 - 10)' %><br>
        <%= f.number_field :priority, :min=>"1", :max=>"10", class: 'form-control' %>
        </div>
      </div>



      <div class="field">
        <%= f.label "Choose assigned responsible" %><br>

        <%= f.collection_select :responsible_id, Responsible.order(:name),:id,:name, {include_blank: "None selected"}, {:class => 'form-control'} %>

      </div>

    </div>
  </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <%= f.submit 'Save issue',  :class => 'btn btn-primary'%>
      </div>
  </div>


<% end %>
