 <tr>
  <td><%= link_to incident.name, incident %></td>
  <td><%= link_to incident.responsible.name, controller: "responsibles", action: "show", id: incident.responsible.id %></td>
  <td><%= incident.priority %></td>
  <td><%= link_to incident.incident_category.name, controller: "incident_categories", action: "show", id: incident.incident_category.id %></td>
  <td><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_incident_path(incident)%></td>
  <td><%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
