<div class="row">
<div class="col-lg-3 " style="">
<%= render 'includes/sidebar' %>
</div>


<div class="col-lg-9">
  <% if flash[:error] %>
    <div class="alert alert-warning">
      <% flash[:error].each do |error| %>
        <div>
          <%= error %>
        </div>
      <% end %>
    </div>
  <% end %>
<h1>Issues</h1>

<div class="row">
  <div class="col-lg-4">
    <h4>Quick search</h4>
    <input id="table_search" type="text" placeholder="Write some keywords..." name="" class="form-control">
    </input>
    <br>
  </div>
</div>

<table id="table_incidents" class="tablesorter table table-striped table-hover" data-filter="#table_search" data-filter-minimum="1" data-filter-timeout="150">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Responsible</th>
      <th>Priority</th>
      <th>Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="#table_body">
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= link_to incident.name, incident %></td>
        <!-- Link al responsable -->
        <td><%= link_to incident.responsible.name, controller: "responsibles", action: "show", id: incident.responsible.id %></td>
        <td><%= incident.priority %></td>
        <!-- Link a la categoría -->
        <td><%= link_to incident.incident_category.name, controller: "incident_categories", action: "show", id: incident.incident_category.id %></td>
        <td><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>Edit'.html_safe, edit_incident_path(incident)%></td>
        <td><%= link_to '<i class="fa fa-trash fa-lg"></i>Remove'.html_safe, incident, method: :delete, data: { confirm: '¿Está seguro que desea eliminarlo?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>




<div class="row">
  <div class="col-lg-9">
    <hr>
  <h4 id="view_graphic">Chart: Amount of Issues per Category</h4>
  <hr>
<div id='dashboard'>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
var ready;
ready = function() {
        //Se le aplica el jQuery Filterable a la tabla
        $('table').footable();

        //Se le aplica el jQuery tablesorter a la tabla
        $('#table_incidents').tablesorter({sortList: [[2,0]],
           headers: { 4: {
            sorter:false
           }
         }
        } );


        //Se generan los datos para la gráfica con d3
         var freqData=[
            <% @categories = IncidentCategory.all %> <% @categories.each do |category| %> {State:'<%= category.name %>',freq:<%= raw category.incidents.count %>},<% end %>
            ];

        dashboard('#dashboard',freqData);
    }
 //se ejecuta el document ready como también en el page load de Turbolinks
$(document).ready(ready);
$(document).on('page:load', ready);
</script>
