<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @incident.name %>
</h3>

<h3>
  <strong>Assigned Responsible:</strong>
  <%= link_to @incident.responsible.name, @incident.responsible %>
</h3>

<h3>
  <strong>Category:</strong>
  <%= link_to @incident.incident_category.name, @incident.incident_category %>
</h3>

<div class="well">
<p>
	<h3><strong>Description</strong></h3>
	<hr>
	<%= @incident.description %>
</p>
</div>
<div class="container">
<h5>
<%= link_to '<i class="fa fa-pencil-square-o"></i>Edit Issue'.html_safe, edit_incident_path(@incident) %>
</h5>
<br>
<h5>
<%= link_to '<i class="fa fa-arrow-left"></i>Back to Dashboard'.html_safe, incidents_path  %>
</h5>
</div>
