<%= form_for(@responsible) do |f| %>
  <% if @responsible.errors.any? %>
    <div class="alert alert-danger">
      <h4>Error:</h4>

      <ul>
      <% @responsible.errors.each do |field, message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <div class="row">
  <div class="form-group col-lg-6">

    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control'%>
  </div>
  </div>
  <div class="row">
  <div class="form-group  col-lg-6">
    <%= f.submit 'Save Responsible', :class => 'btn btn-primary' %>
  </div>
  </div>
</fieldset>
<% end %>
