<h1>Responsibles</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @responsibles.each do |responsible| %>
      <tr>
        <td><%= link_to responsible.name, responsible %></td>

        <td><%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_responsible_path(responsible) %></td>
        <td><%= link_to '<i class="fa fa-trash fa-lg"></i>'.html_safe, responsible, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <h4>
    <%= link_to 'Add responsible', new_responsible_path %>
  </h4>
</div>
