<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @responsible.name %>
</h3>

<div class="list-group">
<div  class="list-group-item active">
<strong>Issues created body <%= @responsible.name %> </strong>
</div>
	<%= render @responsible.incidents %>

</div>
<%= link_to 'Edit Responsible', edit_responsible_path(@responsible) %> 
