<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :keywords %><br>
    <%= f.text_field :keywords , class: 'form-control'%>
  </div>
  <div class="field">
    <%= f.label :responsible_id, 'Responsible' %><br>
    <%= f.collection_select :responsible_id, Responsible.order(:name),:id,:name, {include_blank: "All"}, {:class => 'form-control'} %>
  </div>
  <div class="field">
    <%= f.label :incident_category_id, 'Issue Category' %><br>
    <%= f.collection_select :incident_category_id, IncidentCategory.order(:name),:id,:name, {include_blank: "All"}, {:class => 'form-control'} %>

  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.number_field :priority,:min=>"1", :max=>"10", class: 'form-control' %>
  </div>

  <div class="actions">
    <br>
    <%= f.submit 'Search', :class => 'btn btn-success' %>
  </div>
<% end %>
