

<% if @search.incidents.empty? %>
    <h3>La búsqueda no tuvo resultados</h3>
<% else %>
  <div class="row h4">
  <%= link_to 'Realizar nueva búsqueda', new_search_path %>
  </div>
  <div class="row">

    <strong>Palabras clave:</strong>
    <%= @search.keywords %>

    <strong>Responsable:</strong>
    <% if @search.responsible_id.present? %>
     <%= Responsible.find(@search.responsible_id).name %>
    <% else %>
      <p>Todos</p>
    <% end %>

    <strong>Tipo de Incidente:</strong>
    <% if @search.incident_category_id.present? %>
    <%= IncidentCategory.find(@search.incident_category_id).name %>
    
    <% else %>
      <p>Todos</p>
    <% end %>
    <strong>Prioridad:</strong>
    <%= @search.priority %>
  </div>


  <table id="table_in" class="tablesorter table table-striped table-hover">
    <thead>
      <tr class="info">
        <th>Asunto </th>
        <th>Responsable</th>
        <th>Prioridad</th>
        <th>Tipo de incidente</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <!-- Se muestra cada incidente de la busqueda -->
        <%= render partial: "incidents/incidentsearch", collection: @search.incidents, as: :incident  %>
    </tbody>
  </table>

<% end %>



<script type="text/javascript">
 $(document).ready(function() 
    {   
        
        $('#table_in').tablesorter({sortList: [[2,0]],
           headers: { 4: {
            sorter:false
           }
         }
        } ); 
    } 
); 

</script>
