/* tables */
table.tablesorter {
	
}

table.tablesorter thead tr .header {
	background-image: url(http://i.imgur.com/Imp0T5M.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}


table.tablesorter thead tr .headerSortUp {
	background-image: url(http://i.imgur.com/KvrdHTC.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(http://i.imgur.com/BhTJL6y.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}


.field_with_errors .form-control{
	border: 2px solid #e74c3c;

}

/* otras cosas */
a{

	text-decoration: none !important
}

.panel{
	font-size: 18px;
	position: fixed;
}

body { padding-top: 70px; }
