<!DOCTYPE html>
<html>
<head>
  <title>Issues Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'includes/header' %>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
